<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Output</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css') }}">

</head>


<style>

    .backbutton {
        margin-top: 45px;
        margin-left: 45%;
        font-size: 20px;
        font-family: 'Courier New', Courier, monospace;
        color: #000000;
        background-color: #ffffff;
        padding: 10px;
    }

</style>


<body>
    <h1>

        Morse Code Translator
    
    </h1>
    
    <p>{{ output }}</p>
    
    
    <!-- Make a button that sends the user back to the / page when pressed -->
    <form action="/" method="post">
        <input type="submit" value="Go Back" class="backbutton">
    </form>
</body>
</html>
