<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css') }}">

</head>

<style>

    .githubicon {
        margin-top: 100px;
        margin-left: 45%;
        font-size: 20px;
        font-family: 'Courier New', Courier, monospace;
        color: #000000;
        background-color: #ffffff;
        padding: 10px;
        size: 1px;
    }

</style>


<body>
    <h1>

        Morse Code Translator
    
    </h1>
    
    <!-- Path: morescode/templates/index.html -->
    <form method="post"  action="{{ url_for('output') }}">
    
        <input type="text" name="text" value="" class="inputfield">
    
        <input type="submit" value="Translate" class="buttons" >
    
        <input type="checkbox" id="spaces" name="spaces" value="1">
        <label for="spaces">Use `/`s for spaces</label><br>
    
    </form>
    <a href="https://github.com/WhineyMonkey10/morsecodewebsitetranslator"><img src="https://cdn-icons-png.flaticon.com/512/25/25231.png" alt="Github icon"></a>
</body>
</html>


